<!DOCTYPE html>
<html>
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
   

    <title>BCR</title>
 </head>
 


   




<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
input[type=file] {
  /*border: 2px solid red;*/
  border-radius: 4px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>


<body>
     <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

      

      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

      

        <center> <h1> Business Card Reader</h1></center> <br>
    

    <form action="/predict" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputEmail3" class="control-label">
            Please select the Business Card file:
            </label> <br>
            <center>
            <label for="upload" class="custom-file-upload">
            <i class="fa fa-camera" style="font-size:24px;color:red"> </i> Gallery
            </label>

            <input id="upload" name= "card" class="file-upload__input" type="file" name="file-upload" accept="image/*" >
            <br><br>

            <label for="capture" class="custom-file-upload">
            <i class="fa fa-camera" style="font-size:24px;color:red"> </i> Camera
            </label>
            <input type="file" name ="card1" accept="image/*" id="capture" capture="camera"> 
            <br><br>
            
            <input type="submit" name="" class="btn btn-success" value="upload"> <br><br>
            </center>
        </div>
    <hr>

    </form>
        {% if text %}
        <h3>Card Text : {{text}} </h1> <br /> 
        <!-- <h3>Links : {{link}} </h1> <br />  -->
          {% for i in link %}
            <h4>Links : <a href="{{i}}">{{i}}</a> </h4> <br />
          {% endfor %}
        {% endif %}
        <h2>{{datas}}</h2>

        <h4>{{column_message}}</h4>

    

    


    <!-- Backtest tabel -->
    <!-- <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
             <th>Time</th>
             <th>Symbol</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>Value</th>
            
            </tr>
        </thead>
        
        <tfoot>
            <tr>
             <th>Time</th>
             <th>Symbol</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>Value</th>
            </tr>
        </tfoot>
    </table> -->


 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</body>

</html>